{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}


{% block content %}
<div class="d-flex justify-content-center">
    <form method="post">
        {{ form.csrf_token }}
        {{ render_field(form.phone) }}
        <button id="code-button" class="btn btn-secondary">获取验证码</button>
        {{ render_field(form.code) }}
        {{ render_field(form.submit) }}
    </form>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>

    var codeButton = $('#code-button');
    var currentCount;
    var totalCount = 60;
    var countdown;
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    
    codeButton.on('click', function(e) {
        e.preventDefault();
        var phone = $('#phone').val();
        if (!phone) {
            alert('The phone number is required');
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/send-code',
            data: JSON.stringify({'phone': phone}),
            contentType: 'application/json;charset=UTF-8',
            success: function (data) {
                alert(data.message);
                currentCount = totalCount;
                codeButton.prop('disabled', true);
                codeButton.html(`Waiting for ${currentCount}s`);
                countdown = window.setInterval(setRemainTime, 1000);
            },
            error: function ($xhr) {
                alert($xhr.responseJSON.message);
            }
        });
    });

    function setRemainTime() {
        if (currentCount == 0) {
            window.clearInterval(countdown);
            codeButton.prop('disabled', false);
            codeButton.html('Send Code');
        } else {
            currentCount --;
            codeButton.html(`Waiting for ${currentCount}s`);
        }
    }
</script>
{% endblock %}


